<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <ul>
            <li>Moisture IoT</li>
            <li>Group 7</li>
        </ul>
    </header>
    
    <div class="struct">
        <div class="title">
            <p>Data from sensors</p>
            <form method="post" action="/">
                <input class="update-btn"type="submit" value="Update data"></input>
            </form>
        </div>
    
        <div class="data-list">

            <%  for (var i = 0;i <messages.length;i++){ %>
                <div class="databox">
                    <div class="boxtitle"><%= messages[i].time %></div>
                    <div class="sensors-data">
                        <p>Humidity : <span><%= messages[i].humidity + '%' %></span></p>
                        <p>Light : <span><%= Math.round(messages[i].light/655,35 * 1)/ 1  + '%' %></span></p>
                    </div>      
                </div>
            <% } %>  
        </div>
        <div class ="alert">
            <% 
            let indx = messages.length-1;
            if (indx >=0){ %>
                <p>Last light data : <%= Math.round(messages[indx].light/655,35 * 1)/ 1%></p>
                <p>Last humidity data : <%= messages[indx].humidity%></p>
            <% } %>
            
        </div>
    
        <div class="graphs-container">
            <div class="title">
                <p>Graphs</p>
                <!-- <form method="post" action="/">
                    <input class="update-btn"type="submit" value="Update data"></input>
                </form> -->
            </div>
            <div class="graphs">
                <div id="lightPlot" style="width:50%;max-width:600px"></div>
                <div id="humidityPlot" style="width:50%;max-width:600px"></div>
            </div>
        </div>
    </div>
    <script defer>
        let messages = JSON.parse('<%- JSON.stringify(messages) %>');
        

        var x_time = [];
        var y_light = [];
        var y_humidity = [];

        for (i=0;i<messages.length;i++){
            y_light.push(Math.round(messages[i].light/655,35 * 1)/ 1);
            y_humidity.push(messages[i].humidity);
            x_time.push(messages[i].time);
        }


        // Define Data for light
        var light_data = [{
        x:x_time,
        y:y_light,
        mode:"markers"
        }];
        // Define Layout for light graph
        var layout = {
        xaxis: {range: [Math.min(...x_time),Math.max(...x_time)], title: "time"},
        yaxis: {range: [0,100], title: "% light intensity"},  
        title: "Light in time"
        };
        Plotly.newPlot("lightPlot", light_data, layout);


        // // Define Data for Humidity
        var humidity_data = [{
        x:x_time,
        y:y_humidity,
        mode:"markers"
        }];
        // Define Layout for light graph
        var layout = {
        xaxis: {range: [Math.min(...x_time),Math.max(...x_time) ], title: "time"},
        yaxis: {range: [0,100], title: "% of humidity"},  
        title: "Humidity in time"
        };

        // Display using Plotly
        Plotly.newPlot("humidityPlot", humidity_data, layout);

        // to plot both graphs______________
        // var data = [
        //     {x: x_time, y: y_humidity, mode:"dots"},
        //     {x: x_time, y: y_light, mode:"dots"}
        // ];

        // var layout = {title: "Light and humidty in time"};

        // Plotly.newPlot("humidityPlot", data, layout);


    </script>
    
</body>
</html>